* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

.container {
  text-align: center;
  margin: 0 auto;

  &__run {
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
